
  <!-- Register form container-->
  <div class="bg-white mt-4 shadow-form-shadow px-6 py-[10.5px] sm:p-12 rounded-lg max-w-xl mx-auto">
    <!-- form header -->
    <div class="sm:text-center mb-10">
      <h2
        class="sm:text-[1.75rem]/[2.5rem] text-[1.875rem]/[2.25rem] font-semibold text-slate-dark sm:tracking-[-0.75px] tracking-[-0.8px]"
      >
        Create a New Password
      </h2>
      <p class="body-md sm:text-sm/[20px]">Create a new, strong password to secure your workstation access.</p>
    </div>
    <!-- form -->
    <form class="flex-1 flex flex-col justify-center" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit($event)">
      <div class="flex flex-col">
        <div class="form-control flex-1">
          <label
            for="password"
            class="form-label"
            [class.!error-label]="(isSubmitted() || resetPasswordForm.get('password')?.touched) && formErrors()['password']"
            >password</label
          >
          <input
            type="password"
            name="password"
            id="password"
            class="input-text"
            placeholder="Password"
            formControlName="password"
          />
          @if ((isSubmitted() || resetPasswordForm.get('password')?.touched) && formErrors()['password']) {
            <p class="error-msg mt-1.5">{{ formErrors()['password'] }}</p>
          }
        </div>
        <div class="form-control flex-1">
          <label
            for="confirm-password"
            class="form-label"
            [class.!error-label]="
              (isSubmitted() || resetPasswordForm.get('confirmPassword')?.touched) && formErrors()['confirmPassword']
            "
            >confirm password</label
          >
          <input
            type="password"
            name="confirm-password"
            id="confirm-password"
            class="input-text"
            placeholder="Repeat your password"
            formControlName="confirmPassword"
          />
          @if ((isSubmitted() || resetPasswordForm.get('confirmPassword')?.touched) && formErrors()['confirmPassword']) {
            <p class="error-msg mt-1.5">{{ formErrors()['confirmPassword'] }}</p>
          }
        </div>
      </div>

      <div class="requirements mb-6">
        <div class="flex items-center transition-opacity duration-300" [class.opacity-50]="!passwordRequirements().hasMinLength">
          @if (!passwordRequirements().hasMinLength) {
            <span class="material-symbols-outlined text-placeholder"> circle </span>
          } @else {
            <span class="material-symbols-outlined text-circle-checked"> check_circle </span>
          }
          <span class="ms-2 text-slate-dark" >At least 8 characters</span>
        </div>
        <div class="flex items-center transition-opacity duration-300" [class.opacity-50]="!passwordRequirements().hasUpperLowerDigit">
          @if (!passwordRequirements().hasUpperLowerDigit) {
            <span class="material-symbols-outlined text-placeholder"> circle </span>
          } @else {
            <span class="material-symbols-outlined text-circle-checked"> check_circle </span>
          }
          <span class="ms-2 text-cslate-dark">One uppercase, lowercase, and digit</span>
        </div>
        <div class="flex items-center transition-opacity duration-300" [class.opacity-50]="!passwordRequirements().hasSpecialChar">
          @if (!passwordRequirements().hasSpecialChar) {
            <span class="material-symbols-outlined text-placeholder"> circle </span>
          } @else {
            <span class="material-symbols-outlined text-circle-checked"> check_circle </span>
          }
          <span class="ms-2 text-slate-dark">One special character</span>
        </div>
      </div>

    

      <button type="submit" class="btn-primary w-full mb-4">change password</button>

      <button type="button" class="btn-ghost  text-primary-container shadow-none mb-4 flex items-center justify-center" routerLink="/login">
       <span>Back to Log in</span>
      </button>
    </form>
  </div>

