@if (isMobileOpen()) {
  <div
    class="fixed inset-0 z-10 sm:hidden bg-black/40"
    (click)="toggleMobileSidebar()"
    (keydown.enter)="toggleMobileSidebar()"
    tabindex="0"
  ></div>
}
<aside
  [class.w-3xs]="!isCollapsed()"
  [class.w-20]="isCollapsed()"
  [class.!translate-x-0]="isMobileOpen()"
  class="fixed inset-0 sm:sticky translate-x-[-350%] sm:translate-x-0 z-30 h-screen bg-surface-low text-slate-dark flex flex-col justify-between p-4 transition-all duration-300"
>
  <div>
    @if (!isCollapsed()) {
      <div class="sm:flex items-center py-2 ps-1 mb-8 hidden">
        <app-icon name="logo" class="logo-icon text-primary-container"></app-icon>
        <span class="logo-text"> Taskly </span>
      </div>
    }

    <ul>
      <li class="hover:bg-white rounded-md py-2.5 px-3 transition-all duration-300">
        <a
          routerLink="/project"
          routerLinkActive="!text-primary"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center gap-3 sm:text-slate-dark text-sidebar-text text-sm/[20px] hover:text-primary font-semibold"
        >
          <app-icon name="folder" ></app-icon>
          @if (!isCollapsed()) {
            <span>Projects</span>
          }
        </a>
      </li>

      @if (projectId()) {
        <li class="hover:bg-white rounded-md py-2.5 px-3">
          <a
            [routerLink]="['/project', projectId(), 'epics']"
            routerLinkActive="!text-primary"
            class="flex items-center gap-3 sm:text-slate-dark text-sidebar-text text-sm/[20px] hover:text-primary font-semibold"
          >
            <app-icon name="tasks" ></app-icon>
            @if (!isCollapsed()) {
              <span>Project Epics</span>
            }
          </a>
        </li>

        <li class="hover:bg-white rounded-md py-2.5 px-3">
          <a
            [routerLink]="['/project', projectId(), 'tasks']"
            routerLinkActive="!text-primary"
            class="flex items-center gap-3 sm:text-slate-dark text-sidebar-text text-sm/[20px] hover:text-primary font-semibold"
          >
            <app-icon name="tasks-checked" ></app-icon>
            @if (!isCollapsed()) {
              <span>Project Tasks</span>
            }
          </a>
        </li>

        <li class="hover:bg-white rounded-md py-2.5 px-3">
          <a
            [routerLink]="['/project', projectId(), 'members']"
            routerLinkActive="!text-primary"
            class="flex items-center gap-3 sm:text-slate-dark text-sidebar-text text-sm/[20px] hover:text-primary font-semibold"
          >
            <app-icon name="members" ></app-icon>
            @if (!isCollapsed()) {
              <span>Project Members</span>
            }
          </a>
        </li>

        <li class="hover:bg-white rounded-md py-2.5 px-3">
          <a
            [routerLink]="['/project', projectId(), 'edit']"
            routerLinkActive="!text-primary"
            class="flex items-center gap-3 sm:text-slate-dark text-sidebar-text text-sm/[20px] hover:text-primary font-semibold"
          >
            <app-icon name="warning" ></app-icon>
            @if (!isCollapsed()) {
              <span>Project Details</span>
            }
          </a>
        </li>
      }
    </ul>
  </div>

  <div class="border-t border-border-secodary pt-6">
    @if (!isMobileOpen()) {
      <button
        (click)="toggleSidebar()"
        class="w-full flex items-center gap-3 px-3 py-2.5 text-slate-dark font-medium text-sm/[20px] tracking-normal hover:bg-white"
      >
        <app-icon name="arrow-back" class="transition-transform duration-300" [class.rotate-180]="isCollapsed()"></app-icon>
        @if (!isCollapsed()) {
          <span>Collapse</span>
        }
      </button>
    }

    <button
      (click)="logout()"
      class="w-full flex items-center gap-3 px-3 py-2.5 text-error font-medium text-sm/[20px] tracking-normal hover:bg-white"
    >
      <app-icon name="logout" ></app-icon>
      @if (!isCollapsed()) {
        <span>Logout</span>
      }
    </button>
  </div>
</aside>

<nav
  [class.!translate-y-0]="!isMobileOpen()"
  class="fixed bottom-0 z-30 bg-white sm:hidden translate-y-[350%] sm:translate-x-0 flex py-[14.5px] px-7 gap-2 sm:gap-10 justify-between w-full"
>
  <a
    routerLink="/project"
    routerLinkActive="!text-primary"
    [routerLinkActiveOptions]="{ exact: true }"
    class="flex flex-col items-center text-sidebar-text text-sm/[20px] hover:text-primary font-semibold"
  >
    <app-icon name="folder" ></app-icon>
    <span>Projects</span>
  </a>

  @if (projectId()) {
    <a
      [routerLink]="['/project', projectId(), 'epics']"
      routerLinkActive="!text-primary"
      class="flex flex-col items-center text-sidebar-text text-sm/[20px] hover:text-primary font-semibold"
    >
      <app-icon name="tasks" ></app-icon>
      <span>Epics</span>
    </a>

    <a
      [routerLink]="['/project', projectId(), 'tasks']"
      routerLinkActive="!text-primary"
      class="flex flex-col items-center text-sidebar-text text-sm/[20px] hover:text-primary font-semibold"
    >
      <app-icon name="tasks-checked" ></app-icon>
      <span>Tasks</span>
    </a>

    <a
      [routerLink]="['/project', projectId(), 'members']"
      routerLinkActive="!text-primary"
      class="flex flex-col items-center text-sidebar-text text-sm/[20px] hover:text-primary font-semibold"
    >
      <app-icon name="members" ></app-icon>
      <span>Members</span>
    </a>

    <a
      [routerLink]="['/project', projectId(), 'edit']"
      routerLinkActive="!text-primary"
      class="flex flex-col items-center text-sidebar-text text-sm/[20px] hover:text-primary font-semibold"
    >
      <app-icon name="warning" ></app-icon>
      <span>Details</span>
    </a>
  }
</nav>
