
<div class="flex flex-col h-full">
  @if (isLoading()) {
     <!-- skeleton loader -->
    <div class="flex flex-col w-full pt-6">
      <div class="w-full mb-6">
        <div class="hidden sm:block h-4 w-48 bg-slate-200 rounded mb-4 animate-pulse"></div>
        <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-4">
          <div class="hidden md:block h-8 w-44 bg-slate-200 rounded-lg animate-pulse"></div>
          <div class="flex flex-col md:flex-row gap-4 w-full md:w-auto items-stretch md:items-center">
            <div class="h-10 w-full md:w-64 bg-slate-200 rounded-xl animate-pulse"></div>
            <div class="hidden md:block h-10 w-28 bg-slate-200 rounded animate-pulse"></div>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 justify-items-stretch lg:grid-cols-2 gap-6 w-full mt-6 md:mt-10">
        @for (i of [1, 2, 3, 4]; track i) {
          <div class="bg-white flex flex-col justify-between p-5 md:p-6 md:min-h-56 rounded-lg shadow-form-shadow animate-pulse md:border-l-4 md:border-slate-200">
            
            <div class="flex justify-between mb-4">
              <div class="h-5 w-14 bg-slate-200 rounded-xs"></div>
              <div class="h-5 w-5 bg-slate-200 rounded-full"></div>
            </div>

            <div class="h-6 w-3/4 bg-slate-200 rounded mb-6"></div>

            <div class="flex justify-between items-center mb-4">
              <div class="flex items-center gap-2">
                <div class="sm:h-10 sm:w-10 h-7 w-7 bg-slate-200 rounded-full sm:me-1"></div>
                <div class="flex flex-col gap-1">
                  <div class="h-3 w-16 bg-slate-200 rounded"></div>
                  <div class="h-3 w-24 bg-slate-200 rounded"></div>
                </div>
              </div>
              <div class="flex flex-col items-end gap-1 md:hidden">
                <div class="h-2 w-10 bg-slate-200 rounded"></div>
                <div class="h-3 w-16 bg-slate-200 rounded"></div>
              </div>
            </div>

            <div class="hidden md:flex justify-between items-center gap-2 pt-5 border-t border-slate-100 mt-auto">
              <div class="flex items-center gap-1">
                <div class="h-3 w-3 bg-slate-200 rounded-full"></div>
                <div class="h-3 w-28 bg-slate-200 rounded"></div>
              </div>
              <div class="flex items-center gap-1">
                <div class="h-3 w-3 bg-slate-200 rounded-full"></div>
                <div class="h-3 w-20 bg-slate-200 rounded"></div>
              </div>
            </div>

          </div>
        }
      </div>
    </div>
  } @else if (isError()) {
    <div class="flex justify-center h-full">
      <div class="max-w-xs gap-4 flex flex-col justify-center items-center h-full">
        <a
          class="bg-error-msg-bg flex items-center justify-center text-slate-dark rounded-xl w-16 h-16"
          routerLink="/project/add"
        >
          <app-icon name="cloud-off" class="text-error"></app-icon>
        </a>
        <div class="m-6 w-full text-center">
          <h2 class="font-semibold text-4xl/[40px] tracking-[-0.9px] text-slate-dark">Something went wrong</h2>
          <p class="text-text-body text-lg/tight">
           We're having trouble retrieving your project epics right now. Please try again in a moment.
          </p>
        </div>

        <button class="btn-primary btn-shadow flex items-center gap-1 py-3 font-bold" (click)="retry()">
          Retry Connection
        </button>
      </div>
    </div>
  } @else if (isEmpty()) {
    <div class="flex justify-center h-full">
      <div class="gap-4 flex flex-col justify-center items-center h-full flex-1">
        <div class="bg-white max-w-56 max-h-56 rounded-4xl shadow-form-shadow p-10">

           <div class="flex mb-3">
            <app-icon name="empty-1" [size]="26" class="me-3 rounded-lg p-6 bg-primary-container/20" color="#0052CC"></app-icon>
            <app-icon name="empty-2" [size]="26" class="rounded-lg p-6 bg-primary-container/20" color="#737685"></app-icon>
           </div>
           <div class="flex">
            <app-icon name="empty-3" [size]="26" class="me-3 rounded-lg p-6 bg-primary-container/20" color="#737685"></app-icon>
            <app-icon name="plus" [size]="26" class="rounded-lg p-6 bg-[#003D9B0D] border border-dashed border-placeholder"  color="#737685"></app-icon>

           </div>
           

        </div>
        <!-- <img class="w-full" src="assets/new_project.webp" alt="empty icon" /> -->
        <div class="m-10 w-full text-center  max-w-121">
          <h2 class="font-semibold text-4xl/[40px] tracking-[-0.9px] text-slate-dark mb-4">No epics in this project yet.</h2>
          <p class="text-text-body text-lg/tight">
           Break down your large project into manageable epics to track progress better and maintain architectural clarity.
          </p>
        </div>

        <button class="btn-primary btn-shadow flex items-center gap-1 py-3 font-bold text-[18px] mb-20"  [routerLink]="['/project',currentProject()?.id,'epics','new']">
          <app-icon name="generate" [size]="15" class="me-1"></app-icon> Create first Epic
        </button>

        <div class="flex justify-between gap-1 md:gap-6">
          <div class="p-5 bg-surface-low flex flex-col items-start max-w-52">
            <app-icon name="stars" [size]="22" class="rounded-sm p-4 mb-3 bg-white" color="#003D9B"></app-icon>
            <h3 class="font-semibold text-[16px] text-slate-dark">High-Level Goals</h3>
            <p class="body-sm text-[12px]">Define the broad objectives that span across multiple cycles.</p>
          </div>

          <div class="p-5 bg-surface-low flex flex-col items-start max-w-52">
             <app-icon name="design" [size]="22" class="rounded-sm p-4 mb-3 bg-white" color="#003D9B"></app-icon>
            <h3 class="font-semibold text-[16px] text-slate-dark">Hierarchy Design</h3>
            <p class="body-sm text-[12px]">Link individual tasks to parent epics for a consolidated view.</p>
          </div>

          <div class="p-5 bg-surface-low flex flex-col items-start max-w-52">
             <app-icon name="track" [size]="22" class="rounded-sm p-4 mb-3 bg-white" color="#003D9B"></app-icon>
            <h3 class="font-semibold text-[16px] text-slate-dark">Track Velocity</h3>
            <p class="body-sm text-[12px]">Visualize percentage completion at a macro project level.</p>
          </div>

        </div>
      </div>
    </div>
  } @else {
    <!-- header -->
    <div class="flex flex-col w-full">
    <app-breadcrumb class="hidden sm:block"></app-breadcrumb>
    <div class="md:mt-3 md:flex md:justify-between ">
      <h2 class="title-md hidden md:block ">Project Epics</h2>
      <div class="md:flex md:justify-between h-auto gap-8">
        <app-search-input placeholder="Search epics..." (searchValue)="onSearchEpics($event)"></app-search-input>
        <button
          class="btn-primary md:py-3 hidden md:flex items-center gap-1 font-medium shadow btn-shadow whitespace-nowrap rounded-sm "
          [routerLink]="['/project',currentProject()?.id,'epics','new']"
        >
          <app-icon name="plus" [size]="10" class="me-1"></app-icon> new epic
        </button>
      </div>
    </div>
  </div>
    <button
      class="inline md:hidden fixed bottom-0 right-2 btn-primary btn-shadow rounded-xl text-center px-4 py-3 font-bold mb-20"
      [routerLink]="['/project',currentProject()?.id,'epics','new']"
    >
      <app-icon name="plus" [size]="14"></app-icon>
    </button>

    <!-- cards container -->
    <div class="grid grid-cols-1 justify-items-stretch  lg:grid-cols-2 gap-6 w-full mt-6 md:mt-10">
      @for (epic of epics(); track epic.id) {
        <div 
        (click)="setSelectedEpic(epic)"
          class="bg-white flex flex-col justify-between p-5 md:p-6 md:min-h-56 rounded-lg tracking-normal font-medium shadow-form-shadow cursor-pointer md:border-l-4 md:border-dark-green"
        >
          <div class="flex justify-between mb-4">
            <span class="bg-badge-bg md:bg-light-green text-primary md:text-success-msg-text py-1 px-2.5 text-[10px] font-bold rounded-xs">{{epic.epic_id}}</span>
            <app-icon [size]="16" name="more-vertical" color="#041B3C33" class="hidden md:inline"></app-icon>
            <app-icon [size]="16" name="more-hor" color="#737685" class="md:hidden"></app-icon>
          </div>

         <h3 class="card-title mb-3">{{ epic.title }}</h3>

         <div class="flex justify-between">
            @if(epic.assignee.name){
             <div class="flex items-center">
                <app-name-avatar-icon [userName]="epic.assignee.name" customBgColor="#65DCA4" customTextColor="#002113" [size]="40" class="hidden sm:inline me-3"></app-name-avatar-icon>
                <div class="md:flex-col md:flex hidden font-medium">
                  <span class="text-[12px] text-text-body ">Assignee</span>
                  <span class="body-sm text-slate-dark ">{{epic.assignee.name}}</span>
                </div>
    
                <app-name-avatar-icon [userName]="epic.assignee.name" customClass="rounded-lg" customBgColor="#003D9B" customTextColor="#FFFFFF" [size]="28" class="sm:hidden me-3"></app-name-avatar-icon>
                <div class="flex flex-col md:hidden">
                  <span class="text-[12px] font-medium text-slate-dark">{{epic.assignee.name}}</span>
                  <span class="text-[10px] font-normal  text-placeholder ">Assignee</span>
                </div>
              
             </div>
            }

            <div class="flex-col flex items-end md:hidden">
                  <span class="text-[10px] text-placeholder uppercase font-bold ">Deadline</span>
                  <span class="text-[12px] text-slate-dark "> {{ epic.created_at | date: 'MMMM d, yyyy' }}</span>
            </div>
         </div>
        

          <div class="md:justify-between items-center gap-2 pt-5 border-t border-border-gray hidden md:flex text-[11px] tracking-normal">

            <div class="  text-placeholder  flex items-center">
              <app-icon name="created-by" [size]="12" class="me-1"></app-icon>
              <span class=" font-normal">Created by: <span class="text-slate-dark font-semibold capitalize">{{epic.created_by.name}}</span></span>
            </div>
           

           <div class="flex items-center text-placeholder">
              <app-icon name="date" [size]="12" class="me-1"></app-icon>
              <span class="font-normal ">
                {{ epic.created_at | date: 'd MMMM yyyy' }}
              </span>
           </div>
          </div>
        </div>
      }
      
      <!-- add epic card -->
      <div
        class="bg-white border-3 border-border-secodary border-dashed md:flex flex-col justify-center items-center gap-4 p-6 min-h-56 w-full rounded-lg shadow-form-shadow text-sm/[1.25rem] font-bold hidden "
      >
        <a
          class="bg-surface-low flex items-center justify-center text-slate-dark rounded-xl w-12 h-12"
          [routerLink]="['/project',currentProject()?.id,'epics','new']"
        >
          <app-icon name="plus-with-circle"></app-icon>
        </a>

        <p class="text-text-body uppercase tracking-[0.0875rem]">add epic</p>
      </div>
    </div>

    <!-- paginaion -->
     <app-pagination
      [currentPage]="_pagination.currentPage()"
      [total]="_current_project_epics.total()"
      [limit]="_pagination.limit()"
      [currentLength]="currentLength()"
      [isLoading]="isLoading()"
      itemsLabel="active epics"
      (pageChange)="onPageChange($event)"
     />

  }
</div>
<app-epic-popup [selectedEpic]="selectedEpic()" [isOpenPopUpInput]="isOpenPopUp()" (close)="handleClose()"></app-epic-popup>

