<div class="relative">
  <!-- the range header -->
  <div class="cursor-pointer select-none p-2.5 flex items-center justify-between  bg-transparent mb-3 text-slate-dark font-bold text-sm" >
    <app-icon name="arrow-back" [size]="12" class="hover:bg-gray-100 rounded-lg transition" (click)="navigateWeek($event, -1)"></app-icon>
    <div class="text-center mx-3" (click)="toggleDropdown()">
      <span>{{ startDate() ? (startDate() | date:'d MMM') : 'Select start date' }}</span> - 
      <span>{{ endDate() ? (endDate() | date:'d MMM, yyyy') : 'choose end date' }}</span>
    </div>
    <app-icon name="next-arrow" [size]="12" class="hover:bg-gray-100 rounded-lg transition" (click)="navigateWeek($event, 1)"></app-icon>
  </div>

  <!-- calendar popup dropdown -->
  @if (isOpen()) {
    <div class="absolute top-full left-0  mt-2 md:mt-6.25 z-50 bg-white shadow-lg border border-gray-200 rounded-2xl p-5 w-80">
      
      <!-- Month Navigation Header -->
      <div class="flex justify-between items-center mb-4">
        <span class="font-bold text-slate-dark text-[16px]">
          {{ currentViewDate() | date:'MMMM yyyy' }}
        </span>
        <div class="flex items-center gap-2 text-[#4F5F7B]">
          <button type="button" (click)="changeCalendarView($event,-1)" class="cursor-pointer">
            <app-icon name="arrow-back" [size]="12"></app-icon>
          </button>
          <button type="button" (click)="changeCalendarView($event,1)" class="cursor-pointer">
            <app-icon name="next-arrow" [size]="12"></app-icon>
          </button>
        </div>
      </div>

      <!-- Days of week labels -->
      <div class="grid grid-cols-7 gap-1 mb-2 text-centerfont-bold text-[10px] text-[#94A3B8]">
        <span class="px-2.75">MO</span> 
        <span class="px-2.75">TU</span>
        <span class="px-2.75">WE</span>
        <span class="px-2.75">TH</span>
        <span class="px-2.75">FR</span>
        <span class="px-2.75">SA</span>
        <span class="px-2.75">SU</span>
      </div>

      <!-- days grid container -->
      <div class="grid grid-cols-7 gap-1 my-1">
        @for(day of monthDays(); track day) {
          <div 
            class="py-2 text-center cursor-pointer text-[13px] transition flex items-center justify-center border-transparent"
            [class.border]="day === startDate() || day === endDate()"
            [class.rounded-l-lg]="isSameDay(day, startDate())"
            [class.rounded-r-lg]="isSameDay(day, endDate())"
            [class.bg-[#0052CC33]]="day === startDate() || day === endDate()|| isInRange(day) "
            [class.text-primary]="day === startDate() || day === endDate()|| isInRange(day) "
            [class.text-[#CBD5E1]]="day.getMonth() !== currentViewDate().getMonth() "
            [class.hover:bg-gray-100]="day !== startDate() && day !== endDate() && !isInRange(day)"
            (click)="selectDate(day)">
            {{ day | date:'d' }}
          </div>
        }
      </div>

      <!-- Actions -->
      <div class="flex justify-end gap-2 mt-4 pt-6 border-t border-[#E2E8F080]">
        <button type="button" class="btn-secondary py-2" (click)="resetRange()">Cancel</button>
        <button type="button" class="btn-primary py-2" [disabled]="!startDate()" (click)="applyRange()">Apply Range</button>
      </div>
    </div>
  }
</div>