.shared-inline-icon {
  display: inline-block;
  -webkit-mask-size: contain;
  -moz-mask-size: contain;
  -o-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -moz-mask-repeat: no-repeat;
  -o-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -moz-mask-position: center;
  -o-mask-position: center;
  mask-position: center;
  flex-shrink: 0; /* if parent is flex */
}

