<div
      class="hidden sm:flex flex-col sm:flex-row justify-between items-center gap-4 w-full mt-10 pt-6 border-t border-slate-100"
    >
      <div class="text-sm text-text-body font-medium">
        Showing <span class="text-slate-dark font-semibold">{{ currentLength() }}</span> of
        <span class="text-slate-dark font-semibold">{{ total() }}</span> {{ itemsLabel() }}
      </div>

      <div class="flex items-center gap-2">
        <button
          type="button"
          (click)="prev()"
          [disabled]="currentPage() === 1 || isLoading()"
          class="flex items-center justify-center w-9 h-9 border border-slate-200 text-slate-500 rounded bg-white hover:bg-slate-50 transition-colors cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
        >
          <app-icon name="arrow-back"></app-icon>
        </button>

        <button
          type="button"
          class="flex items-center justify-center w-9 h-9 bg-primary text-white font-bold rounded shadow-sm cursor-pointer"
        >
          {{ currentPage() }}
        </button>

        @if (EndPageNum() > 1 && currentPage() !== EndPageNum()) {
          <div class="text-slate-400 text-sm px-1">...</div>
          <button
            type="button"
            (click)=" onPageChange(EndPageNum())"
            class="flex items-center justify-center w-9 h-9 border border-slate-200 text-slate-700 font-semibold rounded bg-white hover:bg-slate-50 transition-colors cursor-pointer"
          >
            {{ EndPageNum() }}
          </button>
        }

        <button
          type="button"
          (click)="next()"
          [disabled]="currentPage() === EndPageNum() || isLoading()"
          class="flex items-center justify-center w-9 h-9 border border-slate-200 text-slate-500 rounded bg-white hover:bg-slate-50 transition-colors cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
        >
          <app-icon name="next-arrow" class="text-[18px]"></app-icon>
        </button>
      </div>
</div>
