<div class="w-full bg-white p-8 flex flex-col justify-between rounded-lg">
    <h3 class="text-[18px] font-bold text-slate-dark mb-10">Tasks by Status</h3>

  <div class="flex items-center justify-between gap-6 md:gap-20">

    <div class="flex items-center justify-center">
     
    <div 
      class="relative w-27 h-27 md:w-40 md:h-40 rounded-full flex items-center justify-center shrink-0 shadow-sm"
      [style.background]="chartGradient()">
      
      <div class="w-22 h-22 md:w-28 md:h-28 bg-white rounded-full flex flex-col items-center justify-center text-center p-2">
        <span class="text-[30px] font-extrabold text-[#222529]">{{ totalTasks() }}</span>
        <span class="text-[14px] font-bold text-[#8C97A7] md:mt-1">Total</span>
      </div>

    </div>
  </div>


  <!-- status bar -->
    <div class="flex-1 flex flex-col gap-4">
    
      @for(status of statusConfigs(); track status.key){
        <div class="flex flex-col gap-1.5">
            <div class="flex items-center gap-3 w-full">
                <!-- dot -->
                <span class="w-3 h-3 rounded-full" [style.background]="status.color"></span>

                <div class="flex flex-col text-[12px] w-full">
                    <!-- title & count -->
                    <div class="flex justify-between gap-5 items-center">
                        <span class="font-semibold text-[#041B3CB2]">{{status.key | statusLabel}}</span>
                        <span class="font-bold text-slate-dark">{{status.value }}</span>
                    </div>
                    <!-- bar -->
                    <div class="w-full h-1.5 bg-[#E8EDFF] rounded-full overflow-hidden hidden lg:block mt-1">
                        <div class="h-full  rounded-full transition-all duration-300" 
                             [style.background]="status.color"
                             [style.width.%]="status.percentage">
                        </div>
                    </div>
                </div>
               
            </div>
           
         </div>
      }
      
 

    </div>

  </div>
</div>
