<div class="flex bg-surface-highest">
    <span class="material-symbols-outlined logo-icon">
   token
  </span>
  <span class="logo-text">
    Taskly
  </span>
</div>

<p class="display-lg">Hello taskly!</p>
<p class="headline-lg">Hello taskly!</p>
<p class="title-md">Hello taskly!</p>
<p class="body-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quaerat eaque numquam recusandae rerum eos tempora aliquam exercitationem perspiciatis architecto saepe nesciunt officia? Amet ipsum sed qui expedita est neque.!</p>
<p class="label-sm">Hello taskly!</p>

<button class="btn-primary">primary Action</button>
<button class="btn-secondary">secondary</button>
<button class="btn-ghost">ghost Action</button>

<label for="name" class="form-label">user name</label>
<input type="text"class="input-text" name="" id="name" placeholder="Enter user name">

<div class="flex-col">
  <label for="err-msg" Class="error-label">Email address</label>
  <div id="err-msg" class="error-msg"> Invalid email</div>
</div>
<div class="main-card">
  <div class="flex justify-between items-start">
    <p class="headline-lg">Hello taskly!</p>
    <span class="active-task-card">active task</span>
  </div>
  <div class="secondary-card">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non hic error ullam harum eius? Obcaecati consequatur beatae, hic facilis blanditiis alias assumenda necessitatibus odio ullam aspernatur tempore sapiente, voluptatum quibusdam?</div>
</div>
