<div class="flex flex-col h-full">
  <!-- container -->

    @if (isloading()) {
      <!-- skeleton loader -->
      <div class="hidden sm:flex sm:flex-col pt-6 w-full">
        <div class="mt-3 mb-10 flex justify-between flex-col lg:flex-row">
          <div class="mb-4 lg:mb-0">
            <h2 class="font-semibold text-4xl/[40px] tracking-[-0.9px] text-slate-dark">Project Members</h2>
          </div>
          <div class="h-12 w-44 bg-slate-200 rounded-lg animate-pulse"></div>
        </div>

        <div class="hidden lg:block w-full overflow-x-auto pb-4 custom-scrollbar">
          <div class="flex justify-center items-center w-full min-w-max p-1">
            <table class="w-full min-w-187.5 max-w-5xl border-separate border-spacing-y-3 px-4 animate-pulse">
              <thead class="bg-background label-sm text-text-body tracking-[0.06875px]">
                <tr>
                  <th colspan="2" class="px-8 py-5 text-left font-semibold text-slate-300">Member</th>
                  <th class="text-center px-8 py-5 font-semibold text-slate-300">Role</th>
                  <th class="text-center px-8 py-5 font-semibold text-slate-300">Action</th>
                </tr>
              </thead>

              <tbody>
                @for (i of [1, 2, 3, 4, 5]; track i) {
                  <tr class="rounded-lg bg-white shadow-sm">
                    <td class="px-8 py-5 w-20">
                      <div class="w-10 h-10 rounded-xl bg-slate-200"></div>
                    </td>

                    <td class="px-8 py-5">
                      <div class="flex flex-col gap-2">
                        <div class="h-4 w-32 bg-slate-200 rounded"></div>
                        <div class="h-3 w-48 bg-slate-200 rounded"></div>
                      </div>
                    </td>

                    <td class="px-8 py-5 text-center">
                      <div class="h-6 w-16 bg-slate-200 rounded-xl inline-block"></div>
                    </td>

                    <td class="px-8 py-5 text-center w-20">
                      <div class="h-5 w-2 bg-slate-200 rounded-full inline-block"></div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    } @else if (isError()) {
      <div class="flex justify-center  h-full">
        <div class="max-w-xs gap-4 flex flex-col justify-center items-center h-full">
        <a
          class="bg-error-msg-bg flex items-center justify-center text-slate-dark rounded-xl w-16 h-16"
          routerLink="/project/add"
        >
          <app-icon name="cloud-off" class="text-error"></app-icon>
        </a>
        <div class="m-6 w-full text-center">
          <h2 class="font-semibold text-4xl/[40px] tracking-[-0.9px] text-slate-dark">Something went wrong</h2>
          <p class="text-text-body text-lg/tight">
            We're having trouble retrieving your projects right now. Please try again in a moment.
          </p>
        </div>

        <button class="btn-primary btn-shadow flex items-center gap-1 py-3 font-bold" (click)="retry()">
          Retry Connection
        </button>
      </div>
      </div>
    } @else if (isEmpty()) {
      <div class="flex justify-center  h-full">
        <div class="max-w-xs gap-4 flex flex-col justify-center items-center h-full">
        <img class="w-full" src="assets/new_project.webp" alt="empty icon" />
        <div class="m-12 w-full text-center">
          <h2 class="font-semibold text-4xl/[40px] tracking-[-0.9px] text-slate-dark">No Members</h2>
          <p class="text-text-body text-lg/tight">
            You don’t have any projects yet. Start by defining your first architectural workspace to begin tracking
            tasks and epics.
          </p>
        </div>

        <button class="btn-primary btn-shadow flex items-center gap-1 py-3 font-bold">
          <app-icon name="person-add" ></app-icon>
          Invite Member
        </button>
      </div>
      </div>
    } @else {
      <!-- header -->
      <app-breadcrumb [breadcrumbs]="breadcrumbs()" class="hidden md:block"></app-breadcrumb>
      <div class="flex flex-col md::mt-4 mt-0 mb-3 sm:mb-16">
        <div class="flex justify-between flex-col md:flex-row md:items-end gap-2.5">
          <div class="text-center sm:text-start">
            <h2 class="title-md">Project Members</h2>
          </div>

          <button class="btn-primary sm:py-3 hidden sm:flex items-center gap-1 font-medium shadow btn-shadow h-fit max-w-fit">
            <app-icon name="person-add" [size]="17" class="me-1"></app-icon>
            Invite Member
          </button>
        </div>
      </div>

      <!-- tabel container -->
      <div class="hidden lg:flex justify-center items-center w-full px-4">
        <table class="w-full max-w-3xl bg-white border border-slate-200/60 rounded-xl overflow-hidden shadow-form-shadow border-collapse">
          
          <thead class="bg-table-bg label-sm text-text-body tracking-[0.06875px] text-xs uppercase">
            <tr class="border-b border-slate-100">
              <th class="px-6 py-4 text-left font-semibold">Member</th>
              <th class="px-6 py-4 text-center font-semibold w-1/4">Role</th>
              <th class="px-6 py-4 text-end font-semibold w-24">Actions</th>
            </tr>
          </thead>
      
          <tbody>
            @for (member of members(); track member.member_id) {
              <tr class="border-b border-slate-100 last:border-0 hover:bg-slate-50/50 transition-colors">
                
                <td class="px-6 py-4">
                  <div class="flex items-center gap-4">
                    <app-name-avatar-icon [userName]="member.metadata.name" [size]="48"></app-name-avatar-icon>
                    <div class="flex flex-col">
                      <span class="text-sm text-slate-dark font-semibold tracking-normal">{{ member.metadata.name }}</span>
                      <span class="text-xs text-text-body font-normal tracking-normal mt-0.5">{{ member.metadata.email }}</span>
                    </div>
                  </div>
                </td>
                
                <td class="px-6 py-4 text-center">
                  <span
                    class="px-3 py-1 rounded-full text-[10px] font-bold uppercase tracking-wider min-w-17.5 "
                    [ngClass]="
                      member.role === 'owner'
                        ? 'bg-primary-container text-white'
                        : 'bg-badge-member-bg text-badge-member'
                    "
                  >
                    {{ member.role }}
                  </span>
                </td>
                
                <td class="px-6 py-4 text-end text-text-body">
                  @if (member.role !== 'owner') {
                    <button class="p-1 hover:bg-slate-100 rounded-full inline-flex items-center justify-center transition-colors">
                      <app-icon name="more-vertical"></app-icon>
                    </button>
                  }
                </td>
      
              </tr>
            }
          </tbody>
      
        </table>
      </div>

      <!-- cards container in medium & small screen -->
      <div class="lg:hidden flex flex-col justify-center items-center">
        @for (member of members(); track member.member_id) {
          <div class="flex justify-between items-center rounded-lg p-4 gap-5 md:gap-10 bg-white shadow-form-shadow">
            <div class="flex gap-2 items-center">
               <app-name-avatar-icon [userName]="member.metadata.name" [size]="40"></app-name-avatar-icon>
              <div class="flex flex-col">
                <span class="text-sm/[1.25rem] text-slate-dark tracking-normal font-semibold">{{
                  member.metadata.name
                }}</span>
                <span class="sm:text-[0.6875rem]/[1rem] text-text-body tracking-normal font-normal text-[0.5rem]">{{
                  member.metadata.email
                }}</span>
              </div>
            </div>
            <div class="flex flex-col items-end ">
              <span
                class="px-2 py-0.5 text-[10px] mb-2"
                [ngClass]="
                  member.role === 'owner' ? 'bg-primary-container text-white' : 'bg-badge-member-bg text-badge-member'
                "
                >{{ member.role }}</span
              >
              @if (member.role == 'owner') {
                <app-icon name="more-vertical" class="text-text-body" [size]="10"></app-icon>
              }
            </div>
          </div>
        }

        <button
          class="inline sm:hidden fixed bottom-0 right-2 btn-primary btn-shadow rounded-xl text-center px-4 py-3 font-bold mb-20"
          routerLink="/project/add"
        >
          <app-icon name="person-add" [size]="14"></app-icon>
        </button>
      </div>
    }

</div>
