<!--form container-->
<div
  class="bg-background sm:bg-white shadow-form-shadow px-6 pt-25 sm:p-12 rounded-lg md:w-120 flex-1 sm:flex-initial sm:min-h-auto flex flex-col justify-between"
>
  <div class="flex-1">
    <!-- form header -->
    <div class="text-center mb-10">
      <h2 class="title-md">Welcome Back</h2>
      <p class="body-sm">Please enter your details to access your workspace</p>
    </div>
    <!-- form -->
    <form class="flex-1 flex flex-col justify-center border-b border-border-secodary" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
      <app-form-field 
          id="email"
          [control]="emailControl"
          type="text"
          name="email"
          label="email"
          placeholder="yourname@company.com"
      ></app-form-field>

      <app-form-field 
          id="password"
          [control]="passwordControl"
          type="password"
          name="password"
          label="password"
          placeholder="Password"
      ></app-form-field>

     
      <div class="sm:flex sm:justify-between mb-6">
        <div class="form-check flex items-center">
          <input class="form-check-input" type="checkbox" value="remember" id="remember" formControlName="rememberMe" />
          <label class="body-sm font-medium ms-2" for="remember">Remember Me</label>
        </div>

        <a
          class="text-sm/[1.25rem] tracking-normal no-underline font-medium text-primary hidden sm:block"
          routerLink="/forgot-password"
          >Forgot Password?</a
        >
      </div>

      <button type="submit" class="btn-primary w-full mb-8 md:py-4 hidden sm:inline">Log In</button>
      <button
        type="submit"
        class="btn-primary w-full mb-4 md:py-4 rounded-lg sm:hidden flex items-center justify-center"
      >
        Sign in
        <app-icon name="next-arrow" [size]="10" class="ms-1.5"></app-icon>
      </button>
    </form>
  </div>
  <div class="pt-12 pb-8 sm:pb-0 sm:pt-8 text-center">
    <p class="body-sm text-slate-medium">
      Don't have an account?
      <span
        class="text-primary font-semibold cursor-pointer"
        (keydown.enter)="navigateToSignUP()"
        tabindex="0"
        (click)="navigateToSignUP()"
        >Sign Up</span
      >
    </p>
  </div>
</div>
