<div class="sm:bg-background min-h-lvh flex flex-col items-center sm:pb-12">
  <!-- logo -->
  <nav class="top-0 w-full flex py-6.5 px-6 sm:px-10">
    <span class="material-symbols-outlined logo-icon"> token </span>
    <span class="logo-text"> Taskly </span>
  </nav>

  <!--form container-->
  <div class="bg-white mt-4 shadow-form-shadow px-6 py-[10.5px] sm:p-12 rounded-lg max-w-120">
    <!-- form header -->
    <div class="sm:text-center mb-10">
      <h2
        class="sm:text-[1.75rem]/[2.5rem] text-[1.875rem]/[2.25rem] font-semibold text-slate-dark sm:tracking-[-0.75px] tracking-[-0.8px]"
      >
        Welcome Back
      </h2>
      <p class="body-md sm:text-sm/[20px]">Please enter your details to access your workspace</p>
    </div>
    <!-- form -->
    <form class="flex-1 flex flex-col justify-center" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
      <div class="form-control">
        <label
          for="email"
          class="form-label"
          [class.!error-label]="(isSubmitted() || loginForm.get('email')?.touched) && formErrors()['email']"
          >email</label
        >
        <input
          type="text"
          name="email"
          id="email"
          class="input-text"
          placeholder="yourname@company.com"
          formControlName="email"
        />
        @if ((isSubmitted() || loginForm.get('email')?.touched) && formErrors()['email']) {
          <p class="error-msg mt-1.5">{{ formErrors()['email'] }}</p>
        }
      </div>
      <div class="form-control">
        <div class="flex justify-between">
          <label
            for="password"
            class="form-label"
            [class.!error-label]="(isSubmitted() || loginForm.get('password')?.touched) && formErrors()['password']"
            >password</label
          >
          <a class="text-sm/[20px] tracking-normal no-underline font-medium text-primary sm:hidden block"
            >Forgot Password?</a
          >
        </div>

        <input
          type="password"
          name="password"
          id="password"
          class="input-text"
          placeholder="Password"
          formControlName="password"
        />
        @if ((isSubmitted() || loginForm.get('password')?.touched) && formErrors()['password']) {
          <p class="error-msg mt-1.5">{{ formErrors()['password'] }}</p>
        }
      </div>
      <div class="sm:flex sm:justify-between mb-6">
        <div class="form-check flex items-center">
          <input class="form-check-input" type="checkbox" value="remember" id="remember" formControlName="rememberMe" />
          <label class="text-sm/[20px] tracking-normal font-medium text-text-body ms-2" for="remember"
            >Remember Me</label
          >
        </div>

        <a class="text-sm/[20px] tracking-normal no-underline font-medium text-primary hidden sm:block"
          >Forgot Password?</a
        >
      </div>

      @if (_globalErrMsg.globalErrMsg()) {
        <p class="error-msg m-1.5">{{ _globalErrMsg.globalErrMsg() }}</p>
      }

      <button type="submit" class="btn-primary w-full mb-4">Log In</button>

      <div class="pt-[47.5px] pb-8 sm:pb-0 sm:pt-8 text-center">
        <p class="text-sm/[20px] tracking-normal text-slate-medium font-normal">
          Don't have an account?
          <span
            class="text-primary font-semibold cursor-pointer"
            (keydown.enter)="navigateToSignUP()"
            tabindex="0"
            (click)="navigateToSignUP()"
            >Sign Up</span
          >
        </p>
      </div>
    </form>
  </div>
</div>
