@import 'tailwindcss';

@theme {
  /* Action Blue & Tonal Range */
  --color-primary: #003d9b;
  --color-primary-container: #0052cc;
  --color-surface-highest: #d7e2ff;
  --color-surface-low: #f1f3ff;
  --color-surface-dark: #e0e8ff;
  --color-background: #f9f9ff;

  /*Slate Neutrals */
  --color-slate-dark: #041b3c;
  --color-slate-medium: #4f5f7b;
  --color-slate-light: #c3c6d6;

  /*Semantic */
  --color-success: #82f9be;
  --color-error: #ba1a1a;
  --color-warning: #ffb300;

  /* other colors */
  --color-text-body: #434654;
  --color-text-label: rgba(115, 118, 133, 1);
  --color-placeholder: #737685;
  --color-error-msg-bg: #ffdad6;
  --color-error-msg-text: #93000a;
  --color-success-msg-bg: #82F9BE33;
  --color-success-msg-text: #005235;
  --color-active-task-label: #002113;
  --color-icon-card: #e8edff;
  --color-circle-checked: #004e32;
  --color-border-gray: #c3c6d64d;
  --color-border-secodary: #c3c6d633;
  --color-message-border:#0052351A;
  --color-sidebar-text: #041b3c99;
  --color-ghost-link:#43465499;
  --color-ghost-icon:#43465466;
  --color-add-task-icon-bg:#0052CC1A;
  --color-second-optional-label:#4F5F7B99;
  --color-secondary-green:#00523599;
  --color-third-heading:#041B3C;
  /* shadows */
  --color-btn-shadow: #0000000d;
  --shadow-form-shadow: 0px 24px 48px 0px #041b3c0f;
  --btn-shadow: 0px 4px 6px -4px #003D9B33;
  --color-navbar-border: #0000001a;
  --add-project-form-box-shadow: 0px 1px 2px 0px #0000000D;

  /* background */
  --background-image-gradient-primary: linear-gradient(
    135deg,
    var(--color-primary) 0%,
    var(--color-primary-container) 100%
  );
  --background-image-gradient-none: none;

  /*Typography */
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Liberation Mono';
}

/* ============== UTILITIES ================== */

/* logo */
@utility logo-text {
  @apply text-xl/[1.75rem] tracking-[-0.5px] text-slate-dark font-bold uppercase;
}
@utility logo-icon {
  @apply me-2 text-primary;
}
/* fonts */
@utility display-lg {
  @apply text-[3.5rem]/[3.5rem]  text-slate-dark capitalize tracking-tighter font-bold;
}

@utility headline-lg {
  @apply text-[2rem]/[2.5rem] text-slate-dark capitalize tracking-normal font-semibold;
}

@utility title-md {
  @apply text-[1.125rem]/[1.6875rem] text-slate-dark capitalize tracking-normal font-medium;
}

@utility body-md {
  @apply text-sm/[22.75px]  text-text-body normal-case  tracking-normal font-normal;
}

@utility label-sm {
  @apply text-[0.6875rem]/[16.5px]  text-slate-dark uppercase tracking-widest font-bold;
}
/* buttons */
@utility btns-basic {
  @apply py-2.5 px-6 rounded-xs capitalize tracking-normal text-sm/[20px] cursor-pointer;
}
@utility btn-primary {
  @apply btns-basic bg-gradient-primary text-white  shadow-xs font-semibold  shadow-btn-shadow;
}
@utility btn-secondary {
  @apply btns-basic  text-primary shadow-xs font-semibold;
}
@utility btn-ghost {
  @apply btns-basic  text-slate-medium shadow-lg font-medium bg-white bg-gradient-none;
}
/* forms */
@utility form-label-basic {
  @apply text-[11px]/[16.5px] tracking-[0.55px] uppercase block mb-1.5 ms-1 font-bold;
}
@utility form-label {
  @apply form-label-basic text-slate-medium;
}
@utility error-label {
  @apply form-label-basic text-error;
}
@utility input-text {
  @apply block bg-surface-highest px-4 pt-3.5 pb-3.75 text-placeholder w-full font-normal tracking-normal text-[16px]/[100%] sm:rounded-sm rounded-lg  focus:outline-primary;
}
@utility error-msg {
  @apply bg-error-msg-bg text-error-msg-text px-4 py-3;
}
@utility form-control {
  @apply mb-6;
}
@utility optional-text {
  @apply font-normal text-[11px]/[100%] tracking-normal text-placeholder;
}
@utility requirements-basic {
  @apply rounded-lg bg-icon-card flex gap-[7.5px] p-4 text-[11px]/[16.5px] tracking-normal font-normal text-text-body;
}
@utility requirements {
  @apply requirements-basic flex-col;
}
/* cards */
@utility main-card {
  @apply bg-white p-8 rounded-sm border-4 border-surface-low;
}
@utility active-task-card {
  @apply bg-success px-2 py-0.5 text-[10px]/[15px] tracking-normal text-active-task-label uppercase font-bold;
}
@utility secondary-card {
  @apply bg-surface-dark rounded-xs text-[0.75rem]/[1.125rem] tracking-normal font-normal text-placeholder;
}
@utility cta-card {
  @apply bg-gradient-primary rounded-lg flex justify-between;
}
/* icons */
@utility icon-label {
  @apply font-mono text-[10px]/[15px] tracking-normal font-normal;
}
@utility icon-card {
  @apply bg-icon-card text-primary p-2 rounded-sm;
}