<div class="flex flex-col items-center h-full lg:px-16">
  <!-- header -->
  <div class="flex-col w-full ">
    <app-breadcrumb class="hidden md:flex"></app-breadcrumb>
    <div class="mt-3 mb-10 flex justify-between">
        <div>
          <h2 class="title-md">Create New Epic</h2>
          <p class="body-md">Define a major project phase or high-level milestone to group related tasks and track architectural progress.</p>
        </div>
    </div>
  </div>

  <!-- form container -->
    <div class="bg-white shadow shadow-add-project-form-box-shadow rounded-lg  w-full ">

    <!-- form -->
    <form
      class="flex-1 flex flex-col justify-center p-8 sm:px-6"
      [formGroup]="addEpicForm"
      (ngSubmit)="onSubmit($event)"
    >
      <app-form-field id="title"
            [control]="titleControl"
            type="text"
            name="title"
            [isRequired]="true"
            label="title"
            placeholder="Epic title"
            [isHorizontal]="true"
        ></app-form-field>

        <app-form-field id="description"
            [control]="descriptionControl"
            type="textarea"
            name="description"
            label="description"
            placeholder="Provide a high-level overview of the project's architectural objectives and key milestones..."
            [isHorizontal]="true"
            [maxlength]="500"
        ></app-form-field>
        

      <div class="mb-8 flex flex-col justify-between sm:gap-8 sm:flex-row">
        <div class="flex flex-col gap-2 flex-1 mb-8 sm:mb-0">
          <label for="assignee" class="form-label font-semibold">ASSIGNEE</label>
          <select id="assignee" class="input-text py-3 w-full " formControlName="assignee_id">
            <option [value]="null">Select a member...</option>
            @for(member of _sharedMembers.members() ; track member.member_id){
                <option [value]="member.user_id">{{member.metadata.name}}</option>
            }
          </select>
        </div>
    
        <div class="flex flex-col gap-2 flex-1">
          <app-form-field id="deadline"
            [control]="deadlineControl"
            type="date"
            name="deadline"
            label="deadline"
            [minDate]="minDate"
          ></app-form-field>
        </div>
      </div>

      <div class="flex flex-col-reverse sm:flex-row justify-between items-center mb-12">
        <button
          class="btn-ghost sm:text-slate-medium text-primary w-full sm:w-auto shadow-none"
          (click)="navigateToEpicsList()"
        >
          Cancel
        </button>
        <button type="submit" class="btn-primary w-full sm:w-auto sm:px-8 rounded-lg sm:rounded-none">
          create Epic
        </button>
      </div>
    </form>
  </div>
</div>


